﻿/*
Skin Name: Nivo Slider Default Theme
Skin URI: http://nivo.dev7studios.com
Description: The default skin for the Nivo Slider.
Version: 1.3
Author: Gilbert Pellegrom
Author URI: http://dev7studios.com
Supports Thumbs: true
*/

.nivoSlider {
	position:relative;
	background:#fff url('../Assets/images/loading.gif') no-repeat 50% 50%;
    margin:0;
	width:100%;
	height:auto;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}

.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}

/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
/*	z-index:5;*/
	overflow:hidden;
}

.nivo-box img { display:block; }



/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav {
	position:absolute;
	left: 0;
	bottom: 30px;
	z-index:1000;
	width: 100%;
	text-align: center;
}

.nivoSlider a {
	border:0;
	display:block;
}

.nivo-controlNav a {
	cursor:pointer;
	display:inline-block;
	width:16px;
	height:16px;

	text-indent:-9999px;
/* 	background:url('../Assets/images/bullets.png') no-repeat;
    border:0;
	margin: 0; */
	border: 3px solid #f80126;
    margin: 3px;
    border-radius: 50%;
    background: #fac620;
}
.nivo-controlNav a.active {
	/* background-position:0 -13px; */
	background:  #f80126;
}


/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:5000;
	cursor:pointer;
}


.nivo-directionNav a {
	display:block;
	width: 75px !important;
	height: 75px;
	background:url('../Assets/images/arrows2-left.png') no-repeat;
	text-indent:-9999px;
	border:0;
	-webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.nivo-directionNav a:hover { opacity: 0.7; }
a.nivo-nextNav {
	background:url('../Assets/images/arrows2-right.png') no-repeat;
	right:10px;
}
a.nivo-prevNav {
	left:10px;
}



.nivo-controlNav.nivo-thumbs-enabled {
	width: 100%;
}
.nivo-controlNav.nivo-thumbs-enabled a {
	width: auto;
	height: auto;
	background: none;
	margin-bottom: 5px;
}
.nivo-controlNav.nivo-thumbs-enabled img {
	display: block;
	width: 120px;
	height: auto;
}

@media screen and (max-width: 480px) {	
	.nivo-controlNav { display: none;}
	.nivo-directionNav a {width: 30px !important; height: 30px; background-size: 200%;}
	a.nivo-nextNav { background-position:-30px 0;}
}


