﻿/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/

.owl-theme .owl-controls{
}

/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div{
	color: #FFF;
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
	padding: 0px 10px;
/*	font-size: 18px;*/
	background: #fbb61d;
	/*filter: Alpha(Opacity=50);*/  /*IE7 fix*/
/*	opacity: 0.5;*/
	position: absolute;
	top: 40%;
	z-index: 100;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	-webkit-border-radius: 50%; 
  	-moz-border-radius: 50%;
	text-align: center;
	padding-top: 0px;

}
/* Clickable class fix problem with hover on touch devices */
/* Use it for non-touch hover action */
.owl-theme .owl-controls.clickable .owl-buttons div:hover{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
	text-decoration: none;
}

.owl-theme .owl-controls .owl-buttons .owl-prev { left: -50px; 	content:"";}
.owl-theme .owl-controls .owl-buttons .owl-next { right: -50px;}

@media screen and (max-width: 1300px) {
.owl-theme .owl-controls .owl-buttons .owl-prev { left: -10px;}
.owl-theme .owl-controls .owl-buttons .owl-next { right: -10px;}
}
@media screen and (max-width: 768px) {
.owl-theme .owl-controls .owl-buttons .owl-prev { left: -5px;}
.owl-theme .owl-controls .owl-buttons .owl-next { right: -5px;}



}


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page{
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}
.owl-theme .owl-controls .owl-page span{
	display: block;
	width: 12px;
	height: 12px;
	margin: 5px 7px;
	filter: Alpha(Opacity=50);/*IE7 fix*/
	opacity: 0.5;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #869791;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	filter: Alpha(Opacity=100);/*IE7 fix*/
	opacity: 1;
}

/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers{
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading{
	min-height: 150px;
	background: url(AjaxLoader.html) no-repeat center center
}



