﻿
/*------------- Overwrite --------------*/

.health-care2 { top: -55px !important;}
.prolist .itemwrap { margin-bottom: 25px;}

@media (max-width:767px) {
	.health-care2 { top: auto !important; position: relative !important;}
}

/*---------*/

.close {
	font-size: 16px;
	font-weight: 400;
	line-height: 25px;
	color: #fff;
	background-color: #000;
	text-shadow: none;
	filter: alpha(opacity=100);
	opacity: 1;
	position: absolute;
	right: 3px;
	top: 3px;
	width: 25px;
	height: 25px;
	
	-webkit-border-radius: 13px; 
  	-moz-border-radius: 13px; 
  	border-radius: 13px; 
}
.close:focus, .close:hover {
	color: #fff;
	text-decoration: none;
	cursor: pointer;	
	background-color: #444;
}
button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	border: 0
}
.modal-open {
	overflow: hidden
}
.modal {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1050;
	display: none;
	overflow: hidden;
	-webkit-overflow-scrolling: touch;
	outline: 0
}
.modal.fade .modal-dialog {
	-webkit-transition: -webkit-transform .3s ease-out;
	-o-transition: -o-transform .3s ease-out;
	transition: transform .3s ease-out;
	-webkit-transform: translate(0, -25%);
	-ms-transform: translate(0, -25%);
	-o-transform: translate(0, -25%);
	transform: translate(0, -25%)
}
.modal.in .modal-dialog {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	-o-transform: translate(0, 0);
	transform: translate(0, 0);
	margin-top: -174px;
	top: 50%;
}
.modal-open .modal {
	overflow-x: hidden;
	overflow-y: auto
}
.modal-dialog {
	position: relative;
	margin: 10px auto;
	width: 1000px;
}
.modal-content {
	position: relative;
	background-color: #fff;
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	border: 1px solid #999;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	outline: 0;
	-webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
	box-shadow: 0 3px 9px rgba(0,0,0,.5)
}
.modal-backdrop {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1040;
	background-color: #000
}
.modal-backdrop.fade {
	filter: alpha(opacity=0);
	opacity: 0
}
.modal-backdrop.in {
	filter: alpha(opacity=50);
	opacity: .5
}
.modal-header {
	padding: 15px;
	border-bottom: 1px solid #e5e5e5
}
.modal-header .close {
	margin-top: -2px
}
.modal-title {
	margin: 0;
	line-height: 1.42857143
}
.modal-body {
	position: relative;
	padding: 15px
}
.modal-footer {
	padding: 15px;
	text-align: right;
	border-top: 1px solid #e5e5e5
}
.modal-footer .btn+.btn {
	margin-bottom: 0;
	margin-left: 5px
}
.modal-footer .btn-group .btn+.btn {
	margin-left: -1px
}
.modal-footer .btn-block+.btn-block {
	margin-left: 0
}
.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll
}
@media (min-width:768px) {
.modal-content {
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
	box-shadow: 0 5px 15px rgba(0,0,0,.5)
}
.modal-sm {
	width: 300px
}
}
@media (min-width:992px) {
	
.modal-lg {
	width: 900px
}
}
.modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before {
	display: table;
	content: " "
}
.modal-footer:after, .modal-header:after{
	clear: both
}

.modal-dialog img {
	max-width: 100%;
}
.nivo-directionNav a {
	z-index: 10 !important;
}
 @media only screen and (max-width:1024px) {
	 
.modal-dialog {
	width: 94% !important;
}
.modal-body {
	padding: 10px !important;
}
}

.owl-theme .owl-controls .owl-buttons i.fa-4x { font-size: 40px; line-height: 60px;}
.owl-theme .owl-controls .owl-buttons .owl-next i.fa-4x { padding-left: 5px}
.owl-theme .owl-controls .owl-buttons .owl-prev i.fa-4x { padding-right: 5px;}

.eventdesc > div > a { color: #666;}

@font-face {
    font-family:'BaskervilleBE-Bold';src:url(../Assets/fonts/BaskervilleBE-Boldd41d.eot?#iefix);src:url(../Assets/fonts/BaskervilleBE-Boldd41d.eot?#iefix) format('embedded-opentype'),url(../Assets/fonts/BaskervilleBE-Bold.woff) format('woff'),url(../Assets/fonts/BaskervilleBE-Bold.ttf) format('truetype'),url(../Assets/fonts/BaskervilleBE-Bold.svg) format('svg');font-weight:400;font-style:normal
}

article,aside,details,figcaption,figure,hgroup,main,menu,nav,ul.topnav li.active ul {
    display: block
}

audio,canvas,video {
    display: inline-block;
    *display: inline;
    *zoom: 1
}

audio:not([controls]) {
    display: none
}

[hidden] {
    display: none
}

*,:after,:before {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

a,abbr,address,blockquote,caption,cite,code,dd,div,dl,dt,fieldset,form,html,label,legend,li,main,ol,pre,q,small,span,table,ul,var {
    border: 0;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}
body {
    font-size: 16px;
    padding: 0;
    line-height: 1;
    color: #444;
    font-family: 'Lato',sans-serif;
    font-weight: 400;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff
}

body,h1 {
    border: 0;
    font-style: inherit;
    margin: 0;
    outline: 0;
    vertical-align: baseline
}

h2,h5,h6,p {
    font-weight: inherit
}

h2,h3,h4,h5,h6,p {
    border: 0;
    font-family: inherit;
    font-style: inherit;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

p {
    font-size: 100%;
    margin: 1.2em 0
}

a {
    text-decoration: none;
    color: #178ada;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s
}

a:hover {
    color: #888
}

.padding { padding: 10px;}

hr {
    margin: 20px 0;
    height: 1px;
    background-color: #ddd;
    color: #ddd;
    clear: both
}

sup {
    font-size: 12px
}

a img,hr {
    border: none
}

blockquote,q {
    quotes: none
}

blockquote:after,blockquote:before,q:after,q:before {
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

.clear:after,.clearfix:after {
    height: 0;
    width: 100%;
    clear: both;
    _margin: -13px 0 0 0
}

.clear:after,.clear:before,.clearfix:after,.clearfix:before {
    content: "";
    display: table
}

.clear,.clearfix {
    zoom: 1
}

.left {
    float: left
}

.right {
    float: right
}

#fancybox-content ol,#fancybox-content ul,.page ol,.page ul {
    margin: 1.2em 0;
    padding-left: 25px
}

#fancybox-content li,.page li {
    padding: 3px 0;
    text-align: left
}

#nav ul {
    margin: 0
}

.footernav ul,.page .tbl_proImage ul,.page ul.album,.page ul.image,.page ul.video,.page ul.videoalbum {
    list-style: none;
    padding: 0;
    margin: 0
}

#nav ul,.page .tbl_proImage li {
    padding: 0
}

#fancybox-wrap,#fancybox-wrap div {
    -moz-box-sizing: content-box!important;
    -webkit-box-sizing: content-box!important;
    box-sizing: content-box!important
}

.page .ularrow {
    margin: 1.2em 0;
    padding-left: 15px
}

.page .ularrow2 {
    margin: 0;
    padding-left: 0
}

.ularrow li,.ularrow2 li {
    list-style-position: inside;
    list-style-image: url(../Assets/images/arrow-blue.png)
}

.ularrow ol li {
    list-style: circle
}

.page .ul3col,.page .ulclass,.page .ullist {
    list-style: none;
    padding: 0;
    margin: 20px 0
}

.ul3col li {
    width: 33.3333%;
    border: 1px solid #fff;
    padding: 10px;
    background-color: #178ada;
    color: #fff;
    text-transform: uppercase
}

.ul3col:after,.ulclass:after,.ullist:after,section:after {
    content: "";
    display: table;
    clear: both
}

.ul3col li,.ulclass li,.ullist li {

    display: inline-block;
    float: left;
    text-align: center
}

.ullist li {
    border: 1px solid #ddd;
    width: 16.2666%;
    padding: 10px;
    margin: 2px .2%;
    background-color: #f9f9f9;
    color: #000
}

.ulclass li {
    padding: 30px 10px;
    width: 12.1%;
    color: #fff;
    margin: 0 .2%;
    background-color: #178ada
}

ul.ulsitemap { padding-left: 60px;}
ul.ulsitemap, .ulsitemap ul { list-style: none;}
.ulsitemap li { 
	position: relative;
	width: 400px;
	border: 1px solid #4a7abf;
	padding: 5px 10px;
	background-color: #fff;
	z-index: 2;
	margin-bottom: 5px;
}
.ulsitemap li a { display: block;}

.ulsitemap li:before {
	content: url(../Assets/images/line-con.png);
	position: absolute;
	top: -30px;
	left: -36px;
	width: 36px;
	height: 48px;
	z-index: 1;
}

.ulsitemap > li { background-color: #1c4786; color: #fff; width: 100%; font-weight: bold;}
.ulsitemap ul > li { background-color: #38baf8; color: #fff;}
.ulsitemap ul ul > li { background-color: #e6f0fe;}
.ulsitemap ul ul ul > li { background-color: #fff;}

.ulsitemap > li a, .ulsitemap ul > li a { color: #fff;}
.ulsitemap ul ul > li a { color: #178ada;}
.ulsitemap ul ul ul > li a { color: #555;}

h1,h2,h3,h4,h5,h7 {
    color: #000;
    text-transform: uppercase
}


h1,h7 {
    font-family: 'BaskervilleBE-Bold',sans-serif;
    font-weight: 400;
    padding: 10px 0;
    font-size: 2em
}

h2 {
    font-size: 1.25em
}

h3,h4 {
    font-size: 1.125em;
    font-weight: 600
}

h4 {
    font-size: 1em
}

h5 {
    font-size: .938em
}

h6 {
    font-size: .875em
}

#container {
    position: relative
}

#container,footer,header,section {
    width: 100%;
    display: block
}

.inner {
    margin: 0 auto;
    width: 1200px;
    position: relative
}

.page .inner {
    padding: 30px 0
}

.topheader {
    background-color: #fbb61d;
    color: #1a4484;
    font-size: .813em;
    text-align: right
}

.topheader select {
    border: none;
    background-color: transparent;
    color: #000;
    padding: 6px 10px 5px 10px;
}

header {
    color: #000;
    background-color: #fff;
}

.language { height:30px;}

.toplink {
    position: absolute;
    top: 35px;
    right: 0
}

.toplink div {
    display: inline-block;
    vertical-align: middle
}

.toplink a {
    display: inline-block;
    color: #000
}

.toplink a:hover {
    color: #fff
}

.toplink select {
    border: none
}

.login {
    margin-right: 5px
}

.logo {
    width: 20%;
    padding: 10px 0;
    background-color: #fff;
    float: left;
    text-align: center
}

.logo img {
    max-width: 90%
}

.search input::-webkit-input-placeholder {
    color: #fff
}

.search input:-moz-placeholder,.search input::-moz-placeholder {
    color: #fff;
    opacity: 1
}

.search input:-ms-input-placeholder {
    color: #fff
}

.search input:placeholder-shown {
    color: #fff
}

.search {
    position: relative;
    padding-right: 40px;
    width: 35px;
    height: 35px;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.search.show-view .icon-search {
    border-color: #fff
}

.search.show-view .form {
    width: 200px;
    padding-right: 45px;
    visibility: visible;
    border-color: #178ada;
    background-color: #178ada
}

.search .icon-search {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 35px;
    background: #178ada url(../Assets/images/i-search.png) no-repeat center center;
    cursor: pointer;
    z-index: 12
}

.search .form,.search .icon-search:hover {
    border-color: #fff;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out
}

.search .form {
    position: absolute;
    top: 0;
    right: 0;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    width: 0;
    overflow: hidden;
    z-index: 11
}

.search .form .input-text {
    color: #fff;
    padding: 9px 0 8px 15px;
    font-size: 13px;
    border-width: 0;
    width: 100%;
    background: #178ada
}

.search .form .search-btn {
    display: none
}

.carttext:before {
    content: 'My Basket'
}

.topbar {
    background-color: #fbb61d;
    color: #fff;
    text-align: center;
    font-size: 1.375em;
    text-transform: uppercase;
    line-height: 1.2;
    font-family: BaskervilleBE-Bold
}

.tagline {
    width: 100%
}

.tagline p {
    margin: 0
}

.tagline img {
    vertical-align: top;
    margin-top: -10px;
    margin-left: 10px
}

.tagline .text_black {
    font-size: 1.5em
}

#nav {
    width: 70%;
    padding: 10px 0;
    margin-left: 20px;
    float: left
}

#nav ul {
    list-style: none
}

#nav a,#nav ul li,.tagline img,.tagline p {
    display: inline-block
}

#nav a {
    line-height: 40px;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase
}

#nav a.active,#nav a:hover, #nav li.selected > a {
    color: #e01d1d
}

#nav>ul>li:hover>a:after {
    content: url(../Assets/images/nav-arrow.png);
    position: absolute;
    bottom: -35px;
    left: 45%;
    z-index: 9999
}

#nav a,.middle,.tagline p {
    position: relative
}

.banner,.banner img {
    width: 100%;
    display: block;
    position: relative
}

.iteminner,.service .item {
    text-align: center
}

.iteminner {
    width: 260px;
    margin: 0 auto;
    display: inline-block;
    background-color: #fff;
    border-radius: 130px;
    -webkit-border-radius: 130px;
    -moz-border-radius: 130px;
    height: 260px;
    position: relative;
    cursor: pointer;
    overflow: hidden
}

.itemcircle {
    display: table-cell;
    vertical-align: middle
}

.itemcircle img {
    max-width: none!important;
    width: 100%;
    vertical-align: middle
}

.itemcircle img:hover {
    filter: alpha(opacity=100);
    opacity: 1
}

.bgB,.bgB .iteminner {
    border: 4px solid #53bbeb
}

.bgG,.bgG .iteminner {
    border: 4px solid #73b949
}

.bgO,.bgO .iteminner {
    border: 4px solid #ebb245
}

.bgP,.bgP .iteminner {
    border: 4px solid #e672b1
}

.bgB2,.bgB2 .iteminner {
    border: 4px solid #178ada
}

.bgP2,.bgP2 .iteminner {
    border: 4px solid #ba70e0
}

.service .item h2 {
    font-size: 1.125em;
    margin-top: 10px;
    font-weight: 600
}

.subcontent .iteminner {
    width: 100%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 100%
}

.subcontent .iteminner1 {

 

    width: 50%;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    height: 100%;

 

}


.itemcircle {
    height: 100%;
    width: 100%
}

.page {
    line-height: 1.4;
    word-wrap: break-word;
    min-height: 300px;
    background-color: #eee;
    text-align: justify
}

.page img {
    max-width: 100%
}

#container .page .banner img {
    max-width: none!important
}

.pagetitle h1,.widget_header h1 {
    color: #fff;
    padding: 0
}

.main-about h1,.main-career h1 {
    color: #fc9809;
    text-align: center
}

.main-contact h1,.main-enquiry h1 {
    text-align: center
}

.main-enquiry h1 {
    color: #fc9809
}

.main-career .col4 {
    padding: 10px
}

.main-about .col4 {
    padding: 15px
}

.newsbox {
    background-color: #fff;
    border: 1px solid #ccc
}

.newsimgbox {
    height: 220px;
    overflow: hidden;
    border-bottom: 10px solid #fbb61d
}

.careerimgbox img,.newsimgbox img {
    width: 100%;
	display: block;
}

.careertext h2,.newstext h2 {
    font-size: 1em;
    font-weight: 600;
    color: #000
}

.careertext p,.contactlist .whitebox a.btnorange,.contactmainlist .whitebox a.btnorange,.newstext p {
    margin: 10px 0
}

.newstext {
    padding: 15px;
	min-height: 280px;
}

.newsbox_ver {
    background-color: #fff;
    border: 1px solid #ccc;
    min-height: 200px
}

.newsbox_ver:after,.newsimgbox:after {
    content: "";
    display: table;
    clear: both
}

.newsimgbox_ver {
    width: 60%;
    float: left;
    overflow: hidden;
    margin-bottom: -5px;
    height: 100%
}

.page .careerimgbox_ver img,.page .newsimgbox_ver img {
    max-height: 100%;
    max-width: none
}

.newstext_ver {
    width: 40%;
    float: left;
    padding: 20px
}

.careertext_ver h3,.newstext_ver h3 {
    font-weight: 600
}

.careerbox {
    background-color: #fff;
    border: 1px solid #ccc
}

.careerimgbox {
    max-height: 300px;
    overflow: hidden;
    border-bottom: 10px solid #fbb61d
}

.careertext {
    padding: 15px
}

.careerbox_ver {
    background-color: #fff;
    border: 1px solid #ccc;
    min-height: 200px
}

.careerbox_ver:after,.careerimgbox:after {
    content: "";
    display: table;
    clear: both
}

.careerimgbox_ver {
    width: 40%;
    float: left;
    overflow: hidden;
    margin-bottom: -5px;
    height: 100%
}

.careertext_ver {
    width: 50%;

    float: left;
    padding: 20px
}

.number-list {
    background: url(../Assets/images/blue-bg.jpg) no-repeat center center;
    background-size: cover;
    text-align: center;
    padding: 30px 0
}

.number-list .whitecircle {
    width: 21%;
    margin: 30px 2%;
    display: inline-block;
    float: left
}

.countimg {
    width: 60%;
    margin: 0 auto
}

.whitecircle h1 {
    font-family: "Lato";
    font-size: 3.5em;
    padding: 0
}

.number-list h1 {
    color: #fff;
    font-weight: 300
}

.whitecircle h1 sub {
    font-size: .3em;
    vertical-align: baseline
}

.number-list h5 {
    color: #fbb61d;
    line-height: 1.2;
    font-size: 1em;
    padding: 0 15px;
    margin: 0
}

.bluecircle,.bluecircle a {
    width: 180px;
    height: 180px;
    color: #fff
}

.bluecircle {
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    border: 2px solid #38baf8;
    display: inline-block;
    margin: 20px 40px;
    background-color: #38baf8;
    vertical-align: top
}

.bluecircle a {
    vertical-align: middle;
    display: table-cell
}

#nav a,.bluecircle a:hover {
    color: #000
}

.bluecircle h5 {
    margin-top: 5px
}

.aboutcount .whitecircle,.main-enquiry .col4 h5 {
    width: 23%;
    margin: 30px 1%;
    display: inline-block;
    float: left
}

.aboutcount,.bluecircle,.main-contact {
    text-align: center
}

.aboutcount h1 {
    color: #fc9809
}

.main-contact {
    background-color: #fbb61d
}

.main-contact h1 {
    color: #fff
}

.main-contact p {
    position: relative
}

.circleicon,.roundbox {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    float: left
}

.roundbox {
    position: absolute;
    top: 40px;
    left: 62%;
    background-color: #fff
}

.circleicon img,.roundbox img {
    width: 60%;
    margin-top: 20px
}

.main-enquiry .col4 {
    margin-bottom: 30px
}

.main-enquiry .col4 h5 {
    margin: 30px 0 0 5px;
    width: 60%;
    text-align: left
}

.main-enquiry a:hover {
    color: #fbb61d
}

.circleicon {
    background-color: #178ada;
    text-align: center;
    display: inline-block
}

.bordercircle {
    -webkit-border-radius: 90px;
    -moz-border-radius: 90px;
    border-radius: 90px;
    height: 180px;
    width: 180px;
    border: 1px solid #ddd;
    text-align: center;
    display: inline-table;
    margin: 10px 0
}

.verticleimg {
    height: 100%;
    vertical-align: middle;
    display: table-cell
}

.titlebar {
    background-color: #1c4786;
    color: #bccceb;
    text-align: center;
    padding: 10px 0
}

h1.orangetitle,h1.title {
    text-align: center;
    background: url(../Assets/images/dot.png) no-repeat center bottom
}

h1.title {
    font-weight: 300;
    color: #000;
    font-size: 1.875em
}

h1.title img {
    width: 48px;
    vertical-align: middle;
    margin-right: 10px
}

.contactmainlist h1.title {
    margin-bottom: 20px;
    background-color: #ccc;
    background-image: none
}

h1.orangetitle {
    color: #f5a711;
    font-size: 1.625em
}

h3.title,h3.title2 {
    background-color: #1c4786;
    color: #fff;
    text-align: center;
    margin-bottom: 5px;
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px
}

h3.title2 {
    text-align: left
}

.subcontent, .whitebox {
    padding: 15px;
    margin: 20px 0;
    background-color: #fff;
    -moz-box-shadow: 0 0 10px rgba(68,68,68,.1);
    -webkit-box-shadow: 0 0 10px rgba(68,68,68,.1);
    box-shadow: 0 0 10px rgba(68,68,68,.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
	text-align: left;
}
.whitebox { margin: 0 0 20px 0;}
.boardcol .whitebox { height: 320px !important;}

.main-enquiry:after,.number-list .inner:after,.page .inner:after,.subcontent:after,.whitebox:after {
    content: "";
    display: table;
    clear: both
}

#nav a,.contactmainlist .whitebox>div {
    padding: 0 15px
}

.contactmainlist .whitebox h3 {
    min-height: 48px
}

.contactmainlist .whitebox p,.prolist p {
    min-height: 85px
}

.boardstyle .whitebox {
    min-height: 360px
}

.boardstyle>div:nth-of-type(4n+5) {
    clear: both
}

.borderright {
    border-right: 1px solid #eee
}

.c_fax,.c_fb,.c_tel {
    display: block;
    border-bottom: 1px solid #ddd;
    padding: 10px 0
}

.c_fb {
    background: url(../Assets/images/i-fb.png) no-repeat left center
}

.c_tel {
    background: url(../Assets/images/i-tel.png) no-repeat left center
}

.c_fax {
    background: url(../Assets/images/i-fax.png) no-repeat left center
}

.c_email,.prolist h2 {
    display: block;
    padding: 10px 0
}

@media only screen and (min-width:1024px) {
.prolist:after { clear: both; content: ''; display: table;}
}

.prolist .itemwrap {
    width: 31.3333%;
    float: left;
    vertical-align: top;
    display: inline-block;
    padding: 15px;
    margin: 150px 1% 10px;
    background-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    min-height: 840px;
    text-align: left
}

.prolist .item {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: -150px;
    padding: 0
}

#searchborder table, .prolist .item2, .prolist2 .item2 {
    margin: 20px
}

.prolist h2 {
    padding: 6px 10px;
    color: #fff;
    margin-top: -6px;
    width: 50%
}

h2.titleblue {
    background-color: #53bbeb
}

h2.titlegreen {
    background-color: #73b949
}

h2.titleorange {
    background-color: #ebb245
}

h2.titlepink {
    background-color: #e672b1
}

h2.titledarkblue {
    background-color: #178ada
}

h2.titlpurple {
    background-color: #ba70e0
}

.prolist h3 {
    margin: 20px 0 5px;
    min-height: 45px;
    line-height: 1.2
}

.prolist h4 {
    margin-top: 10px
}

.prolist .rowline {
    padding: 10px
}

.prolist .rowline a {
    display: block;
    padding: 6px 10px 0 15px;
    background: url(../Assets/images/arrow_grey.png) no-repeat left 18px;
    color: #666
}

.prolist .rowline a:hover {
    color: #999
}

.contactlist .row { width: 100%; }
.contactlist .row:after { display: table; content: ""; clear: both;}

.contactlist .contactitem {
    padding: 0 5px;
	display: inline-block;
	vertical-align: top;
	width: 32%;
}

.contactcol { margin: 20px 0; padding: 10px;}
.contactcol .col3, .contactcol .col9 { float: left;  text-align: left;}

.col1 {
    width: 8.33333333%
}

.col2 {
    width: 16.66666667%
}

.col31 {
    width: 20%
}

.col32 {
    width: 22%
}

.col3 {
    width: 25%
}

.col4 {
    width: 33.33333333%
}

.col5 {
    width: 41.66666667%
}

.col6 {
    width: 50%
}

.col7 {
    width: 58.33333333%
}

.col8 {
    width: 66.66666667%
}

.col9 {
    width: 75%
}

.col10 {
    width: 83.33333333%
}

.col11 {
    width: 91.66666667%
}

.col12 {
    width: 100%
}

.marginauto {
    margin: 0 auto
}

.marginTopMinus {
    margin-top: -150px
}

.marginTop {
    margin-top: 50px
}

.marginBigTop {
    margin-top: 150px
}

.marginLeft {
    margin-left: 20px
}

.marginRight {
    margin-right: 20px
}

.marginBottom {
    margin-bottom: 20px
}

.paddingLeft {
    padding-left: 15px
}

.paddingLeft2 {
    padding-left: 30px
}

.paddingRight {
    padding-right: 15px
}

.paddingRight2 {
    padding-right: 30px
}

.paddingTop {
    padding-top: 15px
}

.paddingLR {
    padding: 10px
}

.paddingLR2 {
    padding: 0 5px
}

.paddingLR3 {
    padding-left: 20px;
    padding-right: 20px
}

.semibold {
    font-weight: 600
}

.bold,.pro_info h2 {
    font-weight: 700
}

.extrabold {
    font-weight: 800
}

.normal {
    font-weight: 300
}

.red,.text_red {
    color: red
}

.text_yellow {
    color: #fbb51d
}

.text_blue {
    color: #178ada
}

.text_orange {
    color: #f5a711
}

.text_green {
    color: #52b615
}

.text_pink {
    color: #e54ea0
}

.text_grey {
    color: #999
}

.text_white {
    color: #fff
}

.text_black {
    color: #232a39
}

.text_darkgrey {
    color: #444
}

.text_purple {
    color: #ba70e0
}


.aligncenter {
    text-align: center
}

.alignleft {
    text-align: left
}

.alignright {
    text-align: right
}

.alignjustify {
    text-align: justify
}

.inlineblock {
    display: inline-block
}

.fontmedium {
    font-size: .938em
}

.fontsmall {
    font-size: .875em
}

.bordertop {
    border-top: 1px solid #ddd
}

.blueborder {
    border: 3px solid #178ada;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #eef7fd
}

.greybg {
    background-color: #f9f9f9;
    margin: 10px;
    padding: 20px;
    min-height: 420px
}

.colorbg {
    padding: 20px;
    background-color: #eff9fe;
    margin-bottom: 20px
}

.dotline,.tabledotline {
    padding: 20px 0 10px;
    border-bottom: 1px dashed #ccc
}

.colorbg:after,.dotline:after,.tabledotline:after {
    display: table;
    content: "";
    clear: both
}

.tabledotline>div {
    padding: 0 10px;
    text-align: left
}

.aboutbg {
    background: url(../Assets/images/about-bg.jpg) no-repeat bottom left;
    background-size: 100% auto;
    min-height: 500px;
    padding: 0 30px 30px 400px
}

.togglebox {
    display: block;
    width: 100%;
    margin: 1px 0
}

.toggletitle {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 8px 10px 8px 25px;
    cursor: pointer;
    background: url(../Assets/images/arrow-blue.png) no-repeat 15px center
}

.toggletitle:hover {
    background-color: #178ada;
    color: #fff
}

.togglecontent {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    font-size: 14px
}

.timeline {
    background: url(../Assets/images/yearline.jpg) no-repeat 25% top;
    background-size: auto 100%
}

.timeline>div:nth-of-type(even) {
    background-color: rgba(238,238,238,.2)
}

.timerow:after {
    content: "";
    display: table;
    clear: both
}

.timerow {
    padding: 30px 0
}

.timerow .col3 {
	text-align: right;
}

.timerow .col9 {
    font-size: 14px;
	padding-left: 20px;
}

.timerow h1 {
    font-size: 4em;    
}

.timerow h7 {
    font-size: 20px;
	color: #e02911
}

.timerow h1:after,.timerow h7:after {
    content: url(../Assets/images/yeardot.png);
    padding-left: 35px;
	display: inline-block;
	vertical-align: middle;
	margin-right: -13px;
z-index: 1;
position: relative;
}

.timerow th {
    width: 15%;
    padding: 6px;
    text-align: center
}

.timerow td {
    width: 85%;
    padding: 6px;
    border-bottom: 1px dashed #ddd
}

.timeline img {
    max-height: 80px
}

.subtitle,.subtitle2 {
    background-color: #8bc63e;
    color: #000;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 700
}

.subtitle2 {
    background-color: #178ada;
    color: #fff
}

.imgborder,.whitebg {
    border: 1px solid #ddd;
    padding: 4px
}

.whitebg {
    background-color: #fff;
    padding: 10px;
    margin: 5px
}

.contactcode {
    background-color: #38baf8;
    color: #000;
    font-size: 1.125em;
    font-weight: 600;
    position: relative;
    padding: 10px;
    text-transform: uppercase
}


.contactcode,.contactcol {

    width: 100%;
    text-align: center
}

.contactcol>h5,.subcontact {
    background-color: #fff;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    padding: 8px
}

.subcontact {
    display: inline-block;
    width: 24.5%;
    margin-left: .3%;
    margin-bottom: 20px;
    padding: 10px;
    color: #666;
    border: 1px solid #ddd;
    text-align: left;
    min-block-size: 255px;
    vertical-align: top
}

.contactcol div.subcontact:nth-of-type(4n+1) {
    margin-left: 0
}

.subcontact>h5 {
    background-color: #fbb51d;
    color: #000;
    padding: 5px
}

.subcontact a {
    display: block;
    color: #aaa
}

.subcontact a:hover {
    color: #555
}

.content-wrap .row {
    clear: both;
    width: 100%;
    padding: 0
}

.newcol {
    width: 100%
}

.newcol:after {
    display: table;
    clear: both;
    content: ""

}

.newcol>div {
    padding: 0 15px
}

footer {
    background-color: #38baf8;
    padding: 30px 0;
    font-size: .938em;
    line-height: 1
}

footer h4 {
    color: #fff;
    text-transform: capitalize
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 50px 0 0
}

.newcol label,footer li a {
    text-align: left;
    display: block
}

footer li a {
    padding: 8px 0;
    color: #000
}

footer li a:hover {
    text-decoration: none;
    color: #fff;
    background-color: #024363;
    padding-left: 15px
}

.copyright {
    border-top: 1px solid #70cbf6;
    padding-top: 20px;
    color: #000;
    margin-top: 20px
}

.social {
    float: right;
    width: 30%;
    text-align: right
}

.footertext {
    float: left;
    width: 70%
}

.social a.i_fb {
    background: url(../Assets/images/facebook-2.png) no-repeat center center
}

.social a.i_in {
    background: url(../Assets/images/linkedin-2.png) no-repeat center center
}

/* add on 06082020 */
.social a.i_ins {
    background: url(../Assets/images/instagram-2.png) no-repeat center center;
}

.social a.i_tw {
    background: url(../Assets/images/twitter-2.png) no-repeat center center;
}

.social a.i_yo {
    background: url(../Assets/images/youtube-2.png) no-repeat center center;
}



.social a.i_fb,.social a.i_in,.social a.i_ins,.social a.i_tw,.social a.i_yo {
    width: 35px;
    height: 35px;
	padding: 20px;
    display: inline-block;
    margin: 0 0 0 5px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    vertical-align: middle
	 
}

/* .social a.i_fb:hover,.social a.i_in:hover,.social a.i_ins:hover,.social a.i_yo:hover,.social a.i_tw:hover {
    background-color: #fbb61d
} */

/* end */

.btnblue,.btndarkblue,.btngrey,.btnwhite,.btnyellow {
    padding: 8px 8px;
    margin-right: 5px;
    font-size: .8em;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    white-space: nowrap;
    font-weight: 700;
    text-transform: uppercase
}

.btngrey {
    color: #777;
    border: 1px solid #ccc;
    background-color: #eee
}

.btnyellow {
    background-color: #fcb51d;
    color: #000;
    border: 1px solid #fcb51d
}

.btnblue {
    background-color: #178ada;
    color: #fff;
    border: 1px solid #178ada
}

.btnwhite {
    background-color: #fff;
    color: #000;
    border: 1px solid #fff
}

.btndarkblue,a.btnblue:hover,a.btngrey:hover,a.btngreysmall:hover,a.btnwhite:hover,a.btnyellow:hover {
    background-color: #204285;
    color: #fff;
    border: 1px solid #204285
}

a.btndarkblue:hover {
    background-color: #eee;
    color: #333;
    border: 1px solid #ccc
}

.btnbluesmall,.btngreysmall {
    font-size: 14px;
    display: inline-block
}

.btnbluesmall {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background-color: #178ada;
    padding: 3px 10px;
    color: #fff
}

a.btnbluesmall:hover {
    background-color: #fcb51d;
    color: #fff
}

.btngreysmall {
    padding: 5px 10px;
    text-transform: uppercase;
    color: #7d8184;
    border: 1px solid #7d8184
}

.btnorange {
    padding: 8px 20px;
    font-size: 1em;
    display: inline-block;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background-color: #fbb61d;
    color: #fff
}

.mappoint:before {
    content: url(../Assets/images/i-point-darkblue.png);
    vertical-align: middle;
    padding-right: 5px
}

a.btnorange:hover {
    background-color: #178ada;
    color: #fff
}

#toTop,#toTopHover {
    background: url(../Assets/images/arrow-up4.png) no-repeat center center;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    width: 70px;
    height: 70px;
    overflow: hidden
}

#toTop {
    text-decoration: none;
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 6000;
    border: none;
    text-indent: 100%;
    display: none;
    filter: alpha(opacity=60);
    opacity: 1
}

#toTopHover {
    opacity: .4;
    display: block;
    float: left;
    -moz-opacity: 0;
    filter: alpha(opacity=0)
}

input[type=password],input[type=text] {
    background-color: #fff;
    padding: 10px
}

.page select,.page textarea,input[type=password],input[type=text] {
    border: 1px solid #ccc;
    margin: 5px 0;
    font-family: 'Lato',sans-serif;
    font-size: 1em;
    color: #666;
    outline: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.page textarea {
    height: 100px;
    padding: 10px;
    background-color: #f9f9f9
}

.page select {
    background-color: #fff;
    padding: 9px 10px
}

input[type=checkbox],input[type=radio] {
    vertical-align: top
}

input[type=checkbox]+input[type=checkbox],input[type=radio]+input[type=radio] {
    margin-left: 30px
}

.eventlisting p,.newcol {
    margin: 10px 0
}

.newcol label {
    padding-top: 10px
}

.newcol input[type=password],.newcol input[type=text],.newcol select,.newcol textarea {
    margin: 0
}

.tbl_registration {
    text-align: left;
    margin-top: 20px
}

.tbl_registration td,.tbl_registration th {
    padding: 5px;
    font-weight: 300
}

.tbl_registration th {
    color: #000
}

.tblstyle1 td,.tblstyle1 th {
    padding: 8px;
    border: 1px solid #ddd;
    vertical-align: top
}

.tblstyle1 th {
    background-color: #178ada;
    color: #fff
}

.tblstyle1 tr:nth-of-type(even),.tblstyle4 tr:nth-of-type(odd),.tblstyle6 tr:nth-of-type(even) {
    background-color: #f5f5f5
}

.tblstyle2 td {
    padding: 10px 30px 20px;
    background-color: #38baf8;
    color: #178ada;
    border-right: 1px solid #fff;
    width: 33.333%
}

.tblstyle3 {
    margin: 20px 0
}

.tblstyle3 td,.tblstyle3 th {
    padding: 10px
}

.tblstyle3 th {
    background-color: #178ada;
    border: 1px solid #fff;
    color: #fff;
    text-align: right
}

.tblstyle3 td {
    background-color: #fff;
    border: 1px solid #ddd
}

.tblstyle4 {
    margin-bottom: 20px
}

.tblstyle4 td,.tblstyle4 th {
    padding: 8px;
    text-align: center;
    vertical-align: top
}

.tblstyle4 th {
    background-color: #38baf8;
    color: #fff
}

.tblstyle4 td {
    border: 1px solid #ddd
}

.tblstyle4 td:first-of-type,.tblstyle4 th:first-of-type {
    text-align: left
}

.tblstyle5 td,.tblstyle5 th {
    padding: 8px;
    border: 1px solid #ddd;
    vertical-align: top
}

.tblstyle5 th {
    background-color: #178ada;
    color: #fff
}

.tblstyle5 input[type=text],.tblstyle5 textarea {
    width: 100%
}

.tblstyle6 {
    margin-top: 20px
}

.tblstyle6 td,.tblstyle6 th {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center
}

.proinfotable td,.tblstyle6 td {
    vertical-align: top
}

.tblstyle6 th,a.btngo {
    background-color: #1c4786;
    color: #fff
}

.txtbox,.txtnormal {
    width: 300px
}

.txtsmall {
    width: 100px
}

textarea.txtbox,textarea.txtnormal {
    height: 148px
}

.fixwidth {
    width: 300px
}

.blog-image img,.fullwidth,.productcollection .product a {
    width: 100%
}

table.radiowidth td {
    display: table-row
}

.cat_dropdown {
    width: 85%;
    float: left
}

.productcollection .col70 {
    margin-top: 15px
}

.col70 .cat_dropdown {
    width: 80%
}

.enquiryform .col6,.enquiryform .divtextarea {
    padding: 5px 10px
}

.formbutton {
    margin-top: 10px;
    text-align: center
}

a.btngo {
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #fac620;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px
}

.eventlisting .col9 {
    padding-left: 30px
}

.eventlisting .blog-image {
    height: 150px;
    overflow: hidden
}

.gallery .col3 {
    padding: 10px;
    width: 20%
}

.gallery .whitebox,.side_category ul.topnav ul li {
    margin: 0
}

.gallery h4, .gallery p {
    height: 40px;    
    text-align: center;		
	overflow: hidden;
}
.gallery h4 { margin: 10px 0 0; line-height: 1.2; font-size: 17px;}
.gallery p { margin: 5px 0 0; line-height: 1.2;}

.gallery .entry {
    height: 150px;
}

.gallery .entry img {
    min-height: 100%;
    width: 100%
}

.enlargepic .entry,.gallery .entry {
    overflow: hidden;
    position: relative
}

.magnifier .st {
    background-color: #fbb61d!important;
    color: #fff!important;
    display: inline-block!important;
    float: none!important;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 200px 200px 200px 200px;
    -moz-border-radius: 200px 200px 200px 200px;
    -webkit-border-radius: 200px 200px 200px 200px;
    width: 35px
}

.magnifier .buttons {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 54%;
    margin-top: -20px;
    -webkit-transform: scale(.2);
    -moz-transform: scale(.2);
    -ms-transform: scale(.2);
    -o-transform: scale(.2);
    transform: scale(.2);
    -webkit-transition: all .3s ease 0s;
    -moz-transition: all .3s ease 0s;
    -ms-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s
}

.magnifier:hover .buttons {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.entry:hover .magnifier,.magnifier:hover .buttons {
    opacity: 1;
    visibility: visible
}

.magnifier {
    background-color: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1)
}

.pagination {
    margin-top: 30px;
    text-align: center
}

.pageinfo,.paging-div {
    padding: 10px 0
}

.paging-div div {
    display: inline-block;
    font-weight: 300
}

.paging-div div a:hover,.paging-div div span {
    color: #fbb51d;
    padding: 4px 0;
    margin: 0 5px
}

.paging-div .nav,.paging-div div a {
    padding: 4px 0;
    margin: 0 5px;
    text-decoration: none!important;
    color: #666
}

.paging-div .Next,.paging-div .Nextlast,.paging-div .Prev,.paging-div .Prevfirst {
    width: 20px;
    height: 20px;
    cursor: pointer;
    line-height: 1;
    text-indent: -5000%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    display: inline-block;
    overflow: hidden;
    vertical-align: middle
}

.paging-div .Prev {
    background: #38baf8 url(../Assets/images/pag-prev.png) no-repeat center center
}

.paging-div .Next {
    background: #38baf8 url(../Assets/images/pag-next.png) no-repeat center center
}

.paging-div .Prevfirst {
    background: #178ada url(../Assets/images/pag-prev2.png) no-repeat center center
}

.paging-div .Nextlast {
    background: #178ada url(../Assets/images/pag-next2.png) no-repeat center center
}

.paging-div .Next:hover,.paging-div .Nextlast:hover,.paging-div .Prev:hover,.paging-div .Prevfirst:hover {
    background-color: #1c4786
}

a[disabled] {
    pointer-events: none;
    opacity: .5
}

.pageinfo {
    float: right;
    width: 40%;
    text-align: right;
    font-size: 14px;
    color: #888
}

#category,#sort {
    position: absolute
}

#sort {
    right: 0;
    top: 35px
}

#category {
    float: left;
    color: #666;
    left: 0;
    top: 5px
}

#category select,#sort select {
    width: 150px
}

.bar {
    clear: both;
    width: 100%;
    padding-top: 5px
}

.productcollection {
    padding: 20px;
    margin: 20px 0;
    background-color: #fff;
    -moz-box-shadow: 0 0 10px rgba(68,68,68,.1);
    -webkit-box-shadow: 0 0 10px rgba(68,68,68,.1);
    box-shadow: 0 0 10px rgba(68,68,68,.1);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px
}

.productcollection:after {
    content: "";
    display: table;
    clear: both
}

.productcollection .product {
    width: 30%;
    float: left;
    height: 200px;
    overflow: hidden;
    text-align: center;
    padding-right: 30px;
    border-right: 1px solid #ddd
}

.productcollection .product img {
    opacity: 1;
	width: 100% !important; 
	height: auto !important;
}

.productcollection .product img.imgauto {
    max-width: auto!important;
    height: auto!important
}

.productcollection .product img:hover,.thumbbox img:hover {
    opacity: .7
}

.productcollection .product_info {
    width: 67%;
    float: right
}

.productcollection h4 {
    height: 50px;
    overflow: hidden
}

.productcollection h4 span {
    color: #fbb51d;
    margin: 0 10px
}

#container #topdrop_menu a:hover,.price {
    color: #fbb51d
}

.strike {
    margin-right: 2px;
    color: #999;
    font-style: italic;
    text-decoration: line-through;
    font-size: .688em;
    font-family: "Helvetica Light"
}

.recent {
    margin-top: 30px;
    font-size: .938em
}

.recent .productcollection {
    background-color: #fff;
    border: 1px solid #ddd;
    display: block;
    width: 100%;
    min-height: 90px;
    margin: 5px 0 0;
    text-align: left;
    padding: 10px
}

.recent .productcollection .product {
    background-color: #fff;
    float: left;
    width: 30%;
    height: 60px;
    margin: 0;
    overflow: visible;
    border: 0;
    outline: none
}

.recent .productcollection .product img {
    max-height: 100%
}

.recent .productcollection .product a {
    height: 60px
}

.recent .productcollection h2,.recent .productcollection p {
    float: right;
    width: 65%
}

.recent .productcollection h2 {
    font-size: 1.125em;
    margin: 0;
    line-height: 1.2
}

.recent .productcollection p {
    font-size: .938em;
    margin: 0 0 8px;
    line-height: 1.4
}

.recent .productcollection .product_add {
    position: relative;
    left: 0;
    top: 0;
    margin-left: 0;
    text-align: left;
    width: 100%;
    display: block
}

.recent .btnAddToCart {
    height: 18px;
    width: 52px
}

.recent .btnAddToCart,.recent .btnAddToCart:hover {
    background: url(../Assets/images/cart-btn.html) no-repeat
}

.sideproduct .productcollection {
    background-color: #fff;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    padding: 5px;
    min-height: 250px
}

.productcollection.mini {
    font-size: .813em;
    width: 18%;
    min-height: 280px;
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 0 2% 20px 0;
    padding: 0;
    float: left;
    position: relative;
    border: 1px solid #ddd
}

.productcollection.mini .product {
    background-color: #fff;
    width: 80%;
    height: 120px;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    margin-bottom: 10px
}

.productcollection.mini .product a {
    width: 140px;
    height: 120px
}

.productcollection.mini .product_add {
    position: relative;
    left: auto;
    top: auto;
    margin: 0;
    padding-top: 15px
}

.product_detail .productcollection.mini h2 {
    margin: 0;
    padding: 0;
    border: none
}

.productcollection.mini .strike {
    font-size: 13px;
    display: block
}

.productcollection.mini h5 {
    overflow: hidden;
    height: 48px
}

.pro_desc h1,.widget_productcollection_header {
    position: relative
}

.prevnext {
    padding-bottom: 20px
}

.prodetail {
    margin-top: 30px
}

.proimgdisplay {
    width: 55%;
    float: left;
    border: 1px solid #ddd;
    background-color: #fff;
    padding: 20px
}

.pro_info {
    width: 40%;
    float: right
}

.tbl_proImage {
    background-color: #1e2225;
    overflow: hidden;
    height: 450px
}

.tbl_proImage img {
    max-height: 100%;
    width: 100%;
    object-fit: cover
}

.highslide img {
    border: none!important
}

.prothumb {
    display: block;
    text-align: center;
    margin: 10px 0 20px
}

.thumbbox {
    width: 100px;
    height: 80px;
    overflow: hidden;
    border: 4px solid #fff;
    outline: 1px solid #ddd;
    display: inline-block;
    margin: 0 5px;
    object-fit: cover
}

.proinfotable {
    font-size: .938em;
    margin-top: 20px
}

.proinfotable th {
    padding: 3px 5px;
    vertical-align: top;
    color: #1c4786;
    text-align: left
}

.proinfotable td {
    padding: 3px 5px;
    color: #222
}

#contact p,#search_result p,.proinfotable ul,ul.topnav ul li {
    padding: 0;
    margin: 0
}

.proinfotable li {
    list-style-image: url(../Assets/images/arrow_grey.png);
    list-style-position: outside;
    padding: 0
}

.tbltitle {
    background-color: #178ada;
    font-weight: 700;
    color: #fff!important;
    display: inline-block
}

.pro_desc {
    width: 100%;
    margin-top: 70px
}

.pro_desc h1 {
    font-size: 1.675em;
    padding-top: 32px
}

.pro_desc h1:before {
    content: '';
    border: 1px solid #7d8184;
    padding: 40px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -90px
}

.prosummary {
    margin: 30px 0 20px;
    text-align: justify
}

.prodescription {
    margin: 30px 0
}

.toggle_container {
    background-color: #1e2225;
    padding: 30px;
    border: 1px solid #7d8184
}

.searchwish a,h2#trigger {
    font-size: 1.125em;
    color: #fff;
    background-color: #7d8184;
    padding: 12px 20px;
    display: inline-block
}

.sidetitle h2 {
    background: #fac620;
    width: 70%;
    margin: 0 auto;
    padding: 10px 15px;
    color: #fff;
    font-size: 1.125em;
    text-align: center;
    font-weight: 400
}

.sidetitle:after {
    content: "";
    display: block;
    width: 70%;
    height: 0;
    border-left: 82px solid transparent;
    border-right: 82px solid transparent;
    border-top: 15px solid #fac620;
    margin-left: 15%
}

.side_category strong {
    text-align: center;
    display: block;
    color: #000;
    border-bottom: 1px solid #ddd;
    padding: 20px 0;
    margin-bottom: 20px
}

ul.topnav,ul.topnav ul {
    list-style: none;
    padding: 0;
    margin: 0
}

ul.topnav li {
    padding: 0;
    margin-bottom: 3px
}

ul.topnav li a {
    display: block;
    color: #555;
    font-size: 1em;
    padding: 5px 10px 5px 45px;
    background: url(../Assets/images/arrow-nav.png) no-repeat 30px center
}

ul.topnav li a label {
    color: #fac620;
    display: inline-block!important
}

ul.topnav li a:hover,ul.topnav li.active a {
    color: #e11313
}

ul.topnav ul {
    padding: 0 0 0 30px;
    display: none
}

ul.topnav ul li {
    clear: both
}

.side_category ul.topnav ul li a {
    background: 0 0;
    border-bottom: 1px dashed #ddd;
    font-weight: 400;
    font-size: 1em;
    outline: 0;
    color: #999!important;
    cursor: pointer;
    display: block;
    padding-left: 15px;
    text-transform: none
}

ul.topnav ul li a:hover,ul.topnav ul li.active a,ul.topnav ul ul li a:hover,ul.topnav ul ul li.active a {
    color: #fbb51d!important;
    background: 0 0;
    border-width: 0 0 1px;
    border-bottom: 1px dashed #ddd;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

ul.topnav span {
    float: right
}

.cat_desc {
    margin-top: 5px;
    padding: 0 10px;
    line-height: 15px;
    font-size: 12px
}

.cat_icon {
    display: inline-block;
    margin-right: 5px
}

.searchwish {
    width: 100%;
    margin: 20px 0;
    text-align: center
}

input.txtwishlist {
    width: 300px;
    -moz-box-shadow: inset 3px 3px 5px rgba(0,0,0,.1);
    -webkit-box-shadow: inset 3px 3px 5px rgba(0,0,0,.1);
    box-shadow: inset 3px 3px 5px rgba(0,0,0,.1)
}

.searchwish a {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin-left: 2px;
    vertical-align: middle;
    padding: 5px 10px;
    font-size: 1em;
    background-color: #fbb51d
}

.smalltitle,.statusbar {
    background-color: #eee;
    padding: 5px;
    margin-bottom: 10px
}

.statusbar {
    text-align: right
}

.smalltitle {
    font-weight: 600
}

.statusbar div {
    display: inline-block;
    margin-left: 10px
}

.statusbar a {
    color: #555
}

.statusbar a:hover {
    color: #777
}

.statusbar .createwish a {
    background-color: #5ab0cc;
    color: #fff;
    padding: 2px 5px
}

.statusbar .createwish a:before {
    content: '+';
    padding-right: 3px
}

.statusbar .createwish a:hover {
    background-color: #ff7505
}

.statusbar .expandwish a:before,.statusbar .printwish a:before {
    content: url(../Assets/images/icon-expand.png);
    padding-right: 3px;
    vertical-align: middle
}

.statusbar .printwish a:before {
    content: url(../Assets/images/icon-print.png)
}

.toggle {
    position: relative;
    width: 100%
}

.toggle .wishlist_manage {
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 2
}

.toggle .wishlist_manage a {
    color: #555;
    background-color: #ccc;
    padding: 7px 10px
}

.toggle h2.trigger {
    font-size: 1.125em;
    color: #555;
    background-color: #f1f1f1;
    border: 1px solid #eee;
    margin-bottom: 5px;
    padding: 5px
}

.tbl_wishlist th {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    padding: 5px
}

.tbl_wishlist td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center
}

.tbl_wishlist .proimg {
    width: 35%;
    height: 150px;
    float: left;
    text-align: left
}

.tbl_wishlist .proimg img {
    max-width: 100%;
    max-height: 100%
}

.tbl_wishlist .prodetail {
    width: 60%;
    float: left;
    padding-left: 5%;
    text-align: left
}

.tbl_wishlist p {
    margin: 5px 0
}

.tbl_wishlist a.btn_changelist,.tbl_wishlist a.btn_remove {
    display: inline-block;
    font-size: .938em;
    color: #888;
    background-color: #f1f1f1;
    padding: 2px 5px;
    margin-bottom: 2px
}

.tbl_wishlist a.btn_changelist:hover,.tbl_wishlist a.btn_remove:hover {
    background-color: #555;
    color: #fff
}

.tbl_wishlist a.btn_changelist:before,.tbl_wishlist a.btn_remove:before {
    content: url(../Assets/images/icon-x.png);
    padding-right: 3px;
    vertical-align: middle
}

.tbl_wishlist a.btn_changelist:before {
    content: url(../Assets/images/icon-move.png)
}

.oriprice {
    text-decoration: line-through
}

.promopice {
    color: #ff7505;
    font-weight: 600
}

#breadcum {
	display: none;
    margin-top: 0
}

#breadcum a, #breadcum_columnleft a {
    color: #bccceb;
    padding-right: 5px;
    font-weight: 700;
    font-size: 15px
}

#breadcum a+a {
    padding-left: 0
}

#breadcum a:hover,#breadcum a:last-child:hover, #breadcum_columnleft a:hover, #breadcum_columnleft a.selected {
    color: #fff
}

#share {
    display: block;
    text-align: right;
    position: relative;
    padding-top: 5px
}

#share a {
    display: inline-block;
    margin: 0
}

#searchborder {
    margin: 0 0 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9
}

.formtitle h4,.popmsg h1 {
    padding: 5px 10px;
    font-size: 1.063em;
    background-color: #fbb61d;
    margin: 0;
    color: #000
}

.searchbutton {
    background: #178ada url(../Assets/images/i-search.png) no-repeat center center;
    padding: 10px 25px;
    margin-left: 2px;
    outline: none;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.searchbutton:hover {
    background-color: #fbb61d
}

#container .topdrop {
    position: relative;
    cursor: pointer
}

#container #topdrop_menu {
    -webkit-border-radius: 5px;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius: 5px;
    -moz-border-radius-topright: 0;
    border-radius: 5px;
    border-top-right-radius: 0;
    display: none;
    background-color: #212629;
    position: absolute;
    right: 4px;
    width: 120px;
    z-index: 9999;
    text-align: left;
    padding: 12px;
    top: 30px;
    margin-top: 5px;
    margin-right: 0;
    *margin-right: -1px;
    color: #fff
}

#topdrop_menu ul,.faq ul {
    padding: 0;
    margin: 0;
    list-style: none
}


#topdrop_menu li {
    display: block;
    background-image: none
}

#container #topdrop_menu a {
    background: url(../Assets/Images/listing.html) no-repeat center left;
    width: 120px;
    display: block;
    text-align: left;
    padding: 0 0 0 10px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    line-height: 1.8
}

.popmsg {
    padding: 0 15px 15px;
    line-height: 1.4;
    color: #fff
}

.popmsg h1 {
    font-size: 1em;
    background-color: #465157;
    margin: 10px 0;
    color: #fff
}

.faq .col9 h4 {
    padding-left: 20px
}

.faq .col3 h4 {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px
}

.faq ul {
    padding: 0 0 0 25px;
    margin: 10px 0;
    font-size: .938em
}

.faq li {
    list-style-position: outside;
    list-style-image: url(../Assets/images/arrow_grey.png)
}

#search_result {
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px dashed #ccc
}

#search_result h3 {
    padding: 10px 20px 5px 0;
    margin: 0
}

#search_result h3 a {
    color: #000
}

#search_result h3 a:hover {
    color: 888
}

.widget_centerarea_A p.withimg {
    width: 77%;
    float: right;
    display: block
}

.widget_centerarea_B p.withimg,.widget_centerarea_C p.withimg {
    width: 71%;
    float: right;
    display: block
}

.widget_centerarea_D p.withimg {
    width: 60%;
    float: right;
    display: block
}

#share a,p.noimg {
    padding: 0
}

#contact .photo,.thumb_img {
    float: left;
    height: auto;
    text-align: center;
    padding: 5px;
    margin-right: 20px;
    background-color: #fff
}

.thumb_img {
    border: 1px solid #ddd
}

#contact fieldset {
    border: 1px solid #33383b;
    padding: 20px;
    margin: 10px 0
}

#contact .hr {
    border: 0;
    height: 1px;
    border-top: 1px dashed #ccc;
    background-color: transparent;
    margin: 10px 0
}

#contact .fixedsize {
    width: 188px;
    height: 130px
}

a.enquiry {
    color: #fff
}

.enquiry,.popmsg .enquiry {
    font-size: 14px;
    font-family: Arial;
    font-weight: 400;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 0 solid #eeb44f;
    padding: 6px 14px;
    text-decoration: none;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,#ffc477),color-stop(100%,#fb9e25));
    background: -moz-linear-gradient(center top,#ffc477 5%,#fb9e25 100%);
    background: -ms-linear-gradient(top,#ffc477 5%,#fb9e25 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
    background-color: #ffc477;
    color: #fff;
    display: inline-block;
    text-shadow: 1px 1px 0 #cc9f52;
    -webkit-box-shadow: inset 1px 1px 0 0 #fce2c1;
    -moz-box-shadow: inset 1px 1px 0 0 #fce2c1;
    box-shadow: inset 1px 1px 0 0 #fce2c1
}

.enquiry:hover,.popmsg .enquiry:hover {
    background: -webkit-gradient(linear,left top,left bottom,color-stop(5%,#fb9e25),color-stop(100%,#ffc477));
    background: -moz-linear-gradient(center top,#fb9e25 5%,#ffc477 100%);
    background: -ms-linear-gradient(top,#fb9e25 5%,#ffc477 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
    background-color: #fb9e25;
    color: #fff
}

.enquiry:active,.popmsg .enquiry:active {
    position: relative;
    top: 1px;
    color: #fff
}

.ProductReview {
    background-color: #805331;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
    padding: 2px 10px;
    white-space: pre
}

.ProductReview:hover {
    background-color: #f9f9f9;
    color: #5f3515
}

.review tr:nth-of-type(2) td {
    border-bottom: 1px solid #ddd;
    white-space: nowrap
}

.review h2 {
    border-bottom: none;
    padding: 0
}

.form td,.form th,.tbl td,.tbl th,.tblcart td,.tblcart th {
    padding: 3px 5px
}

.form th,.tbl th {
    text-align: left
}

.tbl {
}

.tbl td,.tbl th {
    border-right: 1px solid #7d8184
}

.tblcart {
    font-size: 1.125em
}

.tbl th,.tblcart th {
    background-color: #3b454b
}

.tblcart td,.tblcart th {
    border: 1px solid #7d8184
}

.side_category select {
    display: none
}

.widget_subscriber {
    position: absolute;
    z-index: 100;
    bottom: -190px;
    left: 50%
}

input.txtsubscribe {
    width: 300px;
    padding: 12px 20px 11px;
    background-color: #fff;
    border: 1px solid #dfdad5;
    color: #b4ada7;
    font-size: 13px;
    display: inline;
    -webkit-border-top-right-radius: 0;
    -webkit-border-bottom-right-radius: 0;
    -moz-border-radius-topright: 0;
    -moz-border-radius-bottomright: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0
}

.widget_subscriber a {
    background-color: #5f3515;
    color: #fff;
    padding: 10px;
    margin-left: -4px;
    display: inline;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.btn,.linkbtn {
    text-align: center;
    padding-top: 20px
}

.btn {
    display: block;
    clear: both
}

.linkbtn {
}

.Popupshoppingcart {
    padding: 15px
}

.Popupshoppingcart select {
    width: 100%
}

.shoppingcart {
    margin: 20px 0
}

.shoppingcart td {
    white-space: nowrap;
    padding: 2px 0
}

#fancybox-content {
    background-color: #212629!important
}

.welcome-part .col4 { float: left; padding: 20px 15px; border-bottom: 1px solid #ddd;}
.health-care h1 { height: 70px; display: block; color:#474747; text-transform:uppercase; font: normal 24px Arial, Helvetica, sans-serif;}
.health-care p { height: 100px; overflow: hidden;}

@media only screen and (max-width:1680px) {
    .number-list .item img {
        max-height: 300px
    }
}

@media only screen and (max-width:1440px) {
    .service .item {
        font-size: .875em
    }
s
    .service .item:hover h2 {
        margin: 20px 0
    }

    .number-list .item img {
        max-height: 280px
    }

    .service .textbg {
        padding-top: 15px
    }
}

@media only screen and (max-width:1280px) {
    .inner {
        width: 94%
    }

    .number-list .item img {
        max-height: 260px
    }

    #nav a {
        padding: 0 10px
    }
}

@media only screen and (max-width:1024px) {
	.btnyellow { right: 25% !important;}
	.productcollection .product { height: auto;}
	#ctl00_ctl00_ctl00_ctl00_middleWidgetsAndContent_cpMiddleArea_rptWebPage_ctl00_lblWebContent .col6 { width: 100%;}
	.modal.in .modal-dialog { margin-top: 0; top: 40%;}
	.close {}
	.careerimgbox { max-height: 250px;}
	.welcome-part .col4 { width: 33.33333% !important;}
	.health-care h1 { font-size: 18px !important;}
	.health-care p { font-size: 14px;}
	.contactmainlist .col4 { width: 33.33333% !important;}
	.contactmainlist h3 { font-size: 14px;}
	.contactmainlist h4 { font-size: 12px;}
	.c_fax, .c_fb, .c_tel { font-size: 14px;}
	.nivo-directionNav a {	width: 35px !important;	height: 35px;	background-size: 100%;}
	.careertext p, .contactlist .whitebox a.btnorange, .contactmainlist .whitebox a.btnorange, .newstext p { font-size: 14px;}
	.newstext p { text-align: left;}
	.newstext {min-height: 290px; font-size: 14px;}
	.eventlisting .blog-image {
		height: 130px;
	}
	.eventbtn { display: none;}
	.eventlisting .whitebox { margin-bottom: 20px;}
    #nav {
        margin-left: 10px;
		margin-top: 0;
    }

    #nav a {
        padding: 0 8px;
        font-size: .875em
    }
	
	.toplink { top: 25px;}

    .service .item {
        font-size: .813em
    }

    .topbar {
        font-size: 1.25em
    }

    .newsimgbox {
        height: auto
    }

    .aboutbg {
        padding: 0 0 30px 300px
    }

	.gallery .col3 { width: 25%;}
}

@media screen and (max-width:992px) {
.ullist li img { width: 100%; height: 220px !important; }
.whitecircle h1 { font-size: 36px;}
.main-enquiry .col4 { width: 50%; }
.btnyellow { right: 23% !important;}
}


@media screen and (max-width:768px) {
	.prolist .iteminner { width: 140px !important; height: 140px !important; display: block;}
	.prolist .itemwrap { min-height: 700px; margin-top: 100px;}
	.prolist .item { margin-top: -100px;}
	.health-care h1 { font-size: 15px !important; height: 55px;}
	.health-care p { height: 130px;}
	.contactlist h1.title { margin-top: 50px;}
	.right-btn { top: 30px !important;}
	.newstext {min-height: 380px;}
	.eventlisting .whitebox { width: 30% !important;}
	.eventbtn { left: 0 !important;}
	.whitecircle h1 { font-size: 30px;}
	.whitecircle h2 { font: 16px;}
	.contactcol .col3, .contactcol .col9 { width: 100%;}
	.boardcol .col3, .prolist2 .col3 { width: 33.33333%;}
	.prolist2 .iteminner {
		width: 160px !important;
		height: 160px !important;
	}
	.prolist2 .item2 { text-align: center;}
    .logo {
        width: 30%
    }

    .toplink {
        right: 80px
    }

    #nav {
        float: none;
        width: auto;
        border-left: none;
        padding-left: 0;
        position: absolute;
        top: 8px;
        right: 20px
    }

    .page .widget_sidearea {
        float: none;
        width: 100%;
        padding: 0
    }

    .page .widget_sidearea:before,.recent,.sidetitle,.sidetitle:after,.tblstyle5 th {
        display: none
    }

    .pro_info,.proimgdisplay {
        width: 100%;
        float: none;
        margin: 0 auto
    }

    .pro_info {
        width: 96%;
        margin: 20px auto 0
    }

    .fixwidth,.image span,.txtbox,.txtnormal {
        width: 100%
    }

    .txtsmall {
        width: 100px
    }

    #searchborder .fixwidth,#searchborder .txtnormal {
        width: 300px
    }

    .album li,.image li,.video li,.videoalbum li {
        width: 28.85%
    }

    .side_category {
        margin-bottom: 10px
    }

    .side_category h2,.side_category ul {
        display: none!important
    }

    .side_category:before {
        content: 'Product Categories:';
        color: #000;
        display: inline-block;
        vertical-align: middle;
        font-size: 1em
    }

    .side_category select {
        display: inline-block;
        margin-left: 10px;
        vertical-align: middle
    }

    .eventlisting .eventpic {
        width: 27%
    }

    .eventlisting .eventdesc {
        width: 70%
    }


    .customCalloutStyle {
        position: relative!important;
        left: 0!important;
        top: 5px!important
    }

    .topbar {
        font-size: 1em
    }

    .tagline img {
        height: 55px
    }

    .roundbox {
        left: 70%;
		-webkit-border-radius: 40px;
		-moz-border-radius: 40px;
		border-radius: 40px;
		height: 80px;
		width: 80px;
    }

    .prolist .itemwrap {
        width: 48%
    }

    .prolist {
        align: center
    }

    .prolist h2 {
        font-size: 14px
    }

    .bordertop {
        border: none
    }

    .table_overflow {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch
    }

    .table_overflow table {
        width: 720px
    }

    .aboutbg {
        padding: 0 0 250px
    }

    .aboutcount .whitecircle {
        width: 21%;
        margin: 30px 2% 0;
        min-height: 220px
    }

    .whitecircle h1 sub {
        display: block
    }

    .timerow h1 {
        font-size: 2.5em
    }

	.timerow h7 { font-size: 18px;}
	.timerow h7:after {  padding-left: 10px}

    .timerow h1:after {
        padding-left: 20px
    }

    .tblstyle5 tr {
        border-bottom: 1px solid #ddd
    }

    .tblstyle5 td {
        display: block;
        border: none
    }

    .tblstyle5 td:before {
        font-weight: 700;
        width: 45%;
        display: inline-block
    }

    .tblstyle5 td:nth-of-type(1):before {
        content: "No. :"
    }

    .tblstyle5 td:nth-of-type(2):before {
        content: "Type of Glove :"
    }

    .tblstyle5 td:nth-of-type(3):before {
        content: "Y/N :"
    }

    .tblstyle5 td:nth-of-type(4):before {
        content: "Weight :"
    }

    .tblstyle5 td:nth-of-type(5):before {
        content: "Length :"
    }

    .tblstyle5 td:nth-of-type(6):before {
        content: "Color :"
    }

    .tblstyle5 td:nth-of-type(7):before {
        content: "Indicative Price (USD) :"
    }

    .tblstyle5 td:nth-of-type(8):before {
        content: "Remarks :"
    }

    .tblstyle5 input[type=text],.tblstyle5 textarea {
        width: 55%
    }

    .gallery .col3 {
        width: 33.3333%
    }
	h1.title { font-size: 1.5em; margin-top: 20px;}
}

@media screen and (max-width:767px) {
	.timeline { background: 0 0 }
    .timerow th { width: 25% }
    .timerow td { width: 75% }	
	.timerow .col3 { text-align: left; padding-left: 15px; }
	.timerow h7::after { margin-right: 15px; float: left;}
	.ullist li { height: auto !important; width: 100% !important;}	
	.ullist li img { height: auto !important;}
	
	.gallery .entry { height: auto;}
	.newsimgbox_ver, .newstext_ver { width: 100%;}
	.page .careerimgbox_ver img, .page .newsimgbox_ver img { width: 100%; height: auto !important;}
	 .col1,.col10,.col11,.col12,.col2,.col3,.col31,.col4,.col5,.col6,.col7,.col8,.col9 {
        width: 100%!important
    }
	.careerimgbox { max-height: none;}
	.whitebox { min-height: auto !important;}
	.boardcol .whitebox { height: auto !important;}
	.prolist .itemwrap { width: 100%; min-height: auto;}
	.prolist .col3 { width: 100%;}
	.prolist .item2 { text-align: center;}
	.prolist .iteminner { margin: 0 auto;}
	.prolist p { min-height: auto;}
	.health-care h1 { font-size: 18px !important; height: auto;}
	.health-care p { height: auto;}
	.welcome-part .col4 { width: 100% !important;}
	.health-care img { width: 100%;}
	.contactmainlist .col4 { width: 100% !important; margin-bottom: 30px;}
	.contactmainlist .col3 { width: 100%; margin-bottom: 30px;}
	.contactmainlist .whitebox h3 { min-height: auto;}
	.contactmainlist .whitebox p { min-height: auto;}
	.contactmainlist .paddingRight { padding-right: 0;}
	.right-btn { top: 10px !important;}
	.contactmainlist #malaysia h1.title { margin-top: 50px;}
	.contactlist h1.title { margin-top: 30px;}
	.eventlisting .whitebox { width: 98% !important;}
	.eventlisting .blog-image { height: auto;}
	.eventlisting .eventdesc { min-height: auto !important;}
	.main-about .col3 { width: 100%;}
	.newstext { min-height: auto;}
	.newsbox { margin-bottom: 15px;}
	.roundbox { position: relative; top: auto; left: auto; float: none; margin: 0 auto; display: block;}
	.circleicon { width: 60px; height: 60px;}
	.circleicon img { margin-top: 10px;}
	.main-enquiry .col4 h5 { margin-top: 20px; margin-left: 15px; width: 75%; }
	.productcollection .product { width: 100%; padding-right: 0; border: none;}
	.productcollection .product_info { width: 100%;}
	.faq .col3, .faq .col9 { width: 100%; padding: 0;}
	.faq .col9 h4 { padding-left: 0; margin-top: 20px;}
	.faq .entry-content { padding-left: 0 !important;}
	.tbmobile td { width: 100%; display: block;}
	.tbsmall { font-size: 12px;}
	.tbsmall th { width: auto !important;}
	.tbsmall td img { width: 20px;}
	.ul3col li { width: 50%;}
	.boardcol .col3 { width: 100%;}
	.boardcol .btnyellow { position: relative !important; right: auto !important; margin-top: 0; margin-bottom: 0;}
	.prolist2 .col3 { width: 50%;}
	.gallery h4, .gallery p { height: auto;}
	.tabs-style-iconfall nav a { font-size: 15px;}
	.content-wrap.procontent { padding: 10px;}
}

@media screen and (max-width:700px) {
	.whitecircle h1 { font-size: 24px;}
	.whitecircle h2 { font-size: 14px;}
	.ulsitemap li { width: 100%;}

    .productcollection .product img {
        height: auto;
    }

    .productcollection .product_info {
        text-align: left
    }


    .productcollection .product_info a {
        margin-bottom: 5px
    }

    .aboutbg {
        padding: 0 0 230px
    }
	.timerow h7 { font-size: 16px;}
	
}

@media screen and (max-width:640px) {
	
	.timerow h7 { font-size: 14px;}
	.whitecircle h1 { font-size: 20px;}
	.whitecircle h2 { font-size: 13px;}
	.toplink {
		top: 20px;
	}
	#nav { top: 4px;}
	.contactlist .contactitem {
		width: 100%;
	}
    .item img {
        max-height: 350px
    }

    .album li,.image li,.video li,.videoalbum li {
        width: 44%
    }

    .highslide-image {
        width: 100%!important;
        height: auto!important
    }

    .cat_dropdown {
        width: 80%
    }

    .pro_info,.proimgdisplay {
        width: 100%;
        float: none
    }

    .pagination {
        text-align: center
    }

    .pageinfo,.paging-div {
        float: none;
        width: 100%;
        text-align: center
    }

    .tagline img {
        margin-top: 10px
    }

    .aboutbg {
        padding: 0 0 200px
    }

    .aboutcount .whitecircle {
        width: 46%
    }

    .gallery .col3 {
        width: 50%
    }
}

@media screen and (max-width:540px) {	
}

@media screen and (max-width:480px) {
	a.nivo-nextNav { background-position: 0;}
	.nivo-directionNav a { top: 38%;}
	.owl-theme .owl-controls .owl-buttons div { width: 40px; height: 40px;}
	.owl-theme .owl-controls .owl-buttons i.fa-4x { font-size: 30px; line-height: 40px;}
	.health-care h1 {  font-size: 16px !important; height: auto;}

	.whitecircle h2 { font-size: 12px;}
	.toplink {
		top: 12px;
	}
	#nav {
		top: -5px;
	}
    .search input[type=text] {
        width: 180px
    }

    #searchborder .fixwidth,#searchborder .txtnormal {
        width: 90%
    }

    #breadcum,#currency img,.page .widget_sidearea,.pro_desc h1:before,.productcollection.mini .product_add,.productcollection.mini .strike {
        display: none
    }

    h1 {
        font-size: 1.5em
    }

    .side_category:before {
        content: 'Categories:'
    }

   
	
	

    .col3.paddingLeft,.col3.paddingLeft2,.col4.paddingLeft,.col4.paddingLeft2,.col5.paddingLeft,.col5.paddingLeft2,.col6.paddingLeft,.col6.paddingLeft2,.col7.paddingLeft,.col7.paddingLeft2,.col8.paddingLeft,.col8.paddingLeft2 {
        padding-left: 0
    }

    .col3.paddingRight,.col3.paddingRight2,.col4.paddingRight,.col4.paddingRight2,.col5.paddingRight,.col5.paddingRight2,.col6.paddingRight,.col6.paddingRight2,.col7.paddingRight,.col7.paddingRight2,.col8.paddingRight,.col8.paddingRight2 {
        padding-right: 0
    }

    .tbl_registration td,.tbl_registration th,.tbl_signup td,.tbl_signup th {
        width: 100%;
        display: block;
        text-align: left
    }

    .ajax__validatorcallout_popup_table {
        display: block;
        position: relative!important;
        left: 0!important;
        top: 0!important;
        width: auto!important;
        margin-top: 5px!important;
        z-index: 1!important
    }

    .tbl_registration td .customCalloutStyle td,.tbl_signup td .customCalloutStyle td {
        display: table-cell!important
    }

    .txtsmall {
        width: 80px
    }

    input.txtsubscribe {
        width: 250px
    }

    .album li,.image li,.video li,.videoalbum li {
        width: 90%;
        margin: 30px auto;
        float: none
    }

    .highslide-container table,.highslide-wrapper .highslide-container div {
        width: 97%!important;
        display: none
    }

    .highslide-image,.highslide-outline,.highslide-wrapper {
        width: 92%!important;
        height: auto!important
    }

    .highslide-wrapper div {
        width: 0!important;
        height: auto!important;
        left: 20%!important;
        top: 0!important
    }

    .highslide-wrapper div.highslide-controls {
        width: 195px!important
    }

    .highslide-image {
        width: 100%!important;
        border: 10px solid #fff!important

    }

    .highslide-wrapper .highslide-caption {
        display: none!important
    }

    .productcollection {
        width: 94%;
        min-height: auto;
        margin: 30px auto 0;
        float: none;
        display: block
    }

    .productcollection h4 {
        height: auto;
        margin-bottom: 10px
    }

    .productcollection .product img {
        max-width: 100%;
        min-width: auto
    }

    .cat_dropdown {
        width: 85%
    }

    .eventlisting .eventpic {
        width: 37%
    }

    .eventlisting .eventdesc {
        width: 60%
    }

    .productcollection.mini {
        width: 31%;
        min-height: 220px
    }

    .big_img_frame img {
        width: 80%
    }

    .Popupshoppingcart td {
        display: block;
        width: 100%
    }

    .productcollection .col70 {
        width: 70%
    }

    #sort {
        position: relative;
        float: none;
        font-size: .875em
    }

    .pro_info,.tbl_proImage {
        height: auto
    }

    .pro_desc {
        width: 100%;
        float: none
    }

    .customCalloutStyle,.main-enquiry .col4 {
        width: 100%!important
    }
	.number-list .whitecircle {
        width: 45% !important;
		float: left !important;
    }

    .customCalloutStyle td {
        display: inline-block!important;
        width: auto!important;
        height: 30px!important
    }

    .carttext:before {
        content: 'Basket'
    }

    .contactbox {
        width: 100%;
        margin-top: 20px
    }

    .greyborder {
        padding: 30px 40px
    }

    footer ul {
        margin: 20px 0
    }

    label.col10,label.col11,label.col12,label.col2,label.col3,label.col4,label.col5,label.col6,label.col7,label.col8,label.col9 {
        padding-top: 10px;
        text-align: left
    }

    .col10 input[type=text],.col10 select,.col10 textarea,.col11 input[type=text],.col11 select,.col11 textarea,.col12 input[type=text],.col12 select,.col12 textarea,.col2 input[type=text],.col2 select,.col2 textarea,.col3 input[type=text],.col3 select,.col3 textarea,.col4 input[type=text],.col4 select,.col4 textarea,.col5 input[type=text],.col5 select,.col5 textarea,.col6 input[type=text],.col6 select,.col6 textarea,.col7 input[type=text],.col7 select,.col7 textarea,.col8 input[type=text],.col8 select,.col8 textarea,.col9 input[type=text],.col9 select,.col9 textarea {
        width: 100%;
        margin: 5px 0
    }

    label.col10.alignleft,label.col11.alignleft,label.col12.alignleft,label.col2.alignleft,label.col3.alignleft,label.col4.alignleft,label.col5.alignleft,label.col6.alignleft,label.col7.alignleft,label.col8.alignleft,label.col9.alignleft {
        text-align: left;
        text-indent: 0
    }


    .aboutbg {
        padding: 0 0 150px
    }

    .aboutcount h1 {
        font-size: 2.5em
    }

    
    .prolist .itemwrap {
        width: 98%;
        min-height: auto
    }

    .gallery .col3 {
        width: 100%
    }
}

@media screen and (max-width:420px) {
}
@media screen and (max-width:400px) {
}
@media screen and (max-width:370px) {
}

@media screen and (max-width:360px) {
    .toplink {
        right: 70px;
		top: 8px;
    }

    .toplink div {
        float: left
    }

    .toplink select {
        padding: 7px 5px;
        font-size: .875em
    }

    .search {
        height: 32px
    }

    .search,.search .icon-search {
        width: 32px
    }

    .search .form .input-text {
        padding: 7px 0 7px 15px
    }

    .item img {
        max-height: 300px
    }

    .proimgdisplay {
        overflow: hidden
    }

    #currency select {
        padding: 5px
    }

    .productcollection.mini {
        min-height: 230px
    }

    .roundbox {
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        height: 60px;
        width: 60px;
    }

    .roundbox img {
        margin-top: 10px
    }

    #nav {
        padding: 15px 0
    }


    .aboutbg {
        padding: 0 0 100px
    }
}

@media screen and (max-width:320px) {
    .image span {
        width: 70%
    }

    .productcollection.mini {
        width: 48%
    }
}


